<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'es' }}">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {% if page.developing %}
                <div style="color:rgb(120, 120, 121);border: 2px solid rgb(247, 204, 17);padding: 2px">
                    &#9888;Esta página aún se encuentra en desarrollo.
                </div>
                <!--<div style="color:rgb(120, 120, 121);border: 2px solid rgb(10, 154, 250);padding: 2px">
                    &#8505;Información
                </div>-->
            {% endif %}

            {{ content }}
        </div>
    </main>

    {% include footer.html %}
</body>

</html>

{% if page.mathjax %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://example.com/mathjax/MathJax.js?config=TeX-AMS_CHTML&locale=fr"></script>
{% endif %}